.menu-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(51, 51, 51, 0.877);
  display: flex;
  justify-content: flex-end;
}
.menu-list ul li:last-child {
  width: 50px;
}
.menu-list li {
  width: 150px;
}
.menu-list li a:hover {
  color: white;
}
.menu-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
}

.menu-list li a:hover:not(.last) {
  background-color: #04aa6d;
  transition: all ease 0.2s;
  border-radius: 2px;
  padding-top: 23px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-bottom: calc(0.7em - 23px);
  padding-bottom: 23px;
  margin-top: calc(0.7em - 23px);
}

.menu-list .active {
  background-color: #04aa6d;
}
